{% extends 'header.html' %} {% load static %} {% block content %}
    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper">
      <div class="row">

        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb pl-0">
              <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
              <li class="breadcrumb-item"><a href="#">Menu</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Product</li>
            </ol>
          </nav>

          <div class="alert alert-success" role="alert">
            <strong>Well done!</strong> You successfully read this important alert message.
          </div>
        </div>



        <div class="col-xl-6 col-md-12">
          <div class="ms-panel ms-panel-fh">
            <div class="ms-panel-header">
              <h6>Add Product Form</h6>
            </div>
            <div class="ms-panel-body">
              <form class="needs-validation clearfix" 
              action="{% url 'medit' menu.id %}"
              method="POST"
              enctype="multipart/form-data"
              novalidate>
              {% csrf_token %}
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom18">Product Name</label>
                    <div class="input-group">
                      <input type="text" name="name" class="form-control" id="validationCustom18" placeholder="Product Name" value="{{menu.item_name}}" required>
                      
                    </div>
                  </div>

                  <div class="col-md-6 mb-3">
                    <label for="validationCustom22">Select Catagory</label>
                    <div class="input-group">
                      <select class="form-control" value="{{menu.item_category.cname}}" name="category" id="validationCustom22" required><option hidden>{{menu.item_category.cname}}</option>
                        {% for i in catagory %}
                        <option >{{i.cname}}</option>
                        {% endfor %}
                      </select>
                      
                    </div>
                  </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom24">Availabity</label>
                    <div class="input-group">
                      <select class="form-control" name="availabity" id="validationCustom22" required>
                        <option value="Available">Available</option>
                        <option value=" Not Available"> Not Available</option>
                      </select>
                      
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom25">Price</label>
                    <div class="input-group">
                      <input type="text" name="price" class="form-control" id="validationCustom25"  value="{{menu.item_price}}" required>
                      
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom12">Description</label>
                    <div class="input-group">
                      <textarea rows="5" name="desc" id="validationCustom12" value="{{menu.item_desc}}" required>{{menu.item_desc}}</textarea>
                      
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom12">Product Image</label>
                    <div class="custom-file">
                      <input 
                        name="pic"
                        type="file" 
                        value="{{menu.pic.url}}"
                      />
                      
                      <br>
                      
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <button class="btn btn-primary float-right" type="submit">Submit</button>
                      
                    </div>
                  </div>
                </div>
            
              </form>

            </div>
          </div>

        </div>

        

      </div>
    </div>
    {% endblock content %}


  </main>



 